# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# VSCode
.vscode/

# Mac OS
.DS_Store

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Pyre
.pyre/
